.colors {
  border: 1px solid black;
  padding: 10px;
}

.color-list {
  display: flex;
}

ul {
  list-style-type: none;
  margin: 4px;
  padding: 10px;
  color: white;
  width: 20%;
}

li {
  margin: 4px;
}

#color-1 {
  background-color: #3C1518;
}

#color-2 {
  background-color: #F4F7BE;
  color: black;
}

#color-3 {
  background-color: #034078;

}

#color-4 {
  background-color: #857F74;

}

#color-5 {
  background-color: #FF6663;
}

.fonts {
  border: 1px solid black;
  padding: 10px;
  margin-top: 8px;
}

.font-list {
  display: flex;
}

.font-title {
  font-size: larger;
  text-decoration: underline;
}

.roboto-condensed, .cabin {
  color: black;
  width: 50%;
}

.roboto-condensed {
  font-family: 'Roboto Condensed', sans-serif;
}

.cabin {
  font-family: 'Cabin', sans-serif;
}

#roboto-condensed-bold {
  font-weight: bold;
}

#roboto-condensed-italic {
  font-style: italic;
}

#cabin-bold {
  font-weight: bold;
}

#cabin-italic {
  font-style: italic;
}
font-family: 'Cabin', sans-serif;

font-family: 'Roboto Condensed', sans-serif;