.colors {
  border: 1px solid black;
  padding: 10px;
}

.color-list {
  display: flex;
}

ul {
  list-style-type: none;
  margin: 4px;
  padding: 10px;
  color: white;
  width: 20%;
}

li {
  margin: 4px;
}

#color-1 {
  background-color: #3C1518;
}

#color-2 {
  background-color: #F4F7BE;
  color: black;
}

#color-3 {
  background-color: #034078;

}

#color-4 {
  background-color: #857F74;

}

#color-5 {
  background-color: #FF6663;
}